<div class="top-menu">
    
    <img class="logo"
    src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png">
</div>

<button (click)="addListItem()">Add an item in list</button>

<h1>Getting DOM elements through references to</h1>

<course-card [course]="courses[0]" (clickCourse)="handleClickReference($event)" #card1></course-card>


<div class="courses">
    <p>    {{date | date: "dd-MMM-yy"}}    </p>
    <p>    {{date | date: "dd-MM-yyyy"}}    </p>
    <p>    {{date | date: "dd MMM yy"}}    </p>

    <p>{{title | lowercase}}</p>
    <p>{{title | uppercase}}</p>

    <p>{{price | number: "3.1-2"}}</p>
    <p>{{price | currency: "MXM"}}</p>
    <p>{{price | currency }}</p>

    {{courses | json}}
    <!-- A new way of implementing a foor loop -->
    @for (item of courses; 
        track item.id; 
    ) {
        {{counter}}
        <course-card 
            [course]="item" 
            [index]="$index" 
            [class.is-first]="$first"
            [class.is-last]="$last"
            [class.is-even]="$even"
            [class.is-odd]="$odd"
            (clickCourse)="handleClick($event)"
        >
        <div class="image-slot">
            <image-course [iconUrl]="item.iconUrl" ></image-course>
        </div>
        
        <div class="container-slots">
            Container slots
        </div>

        <div class="description-slot">
            {{item.longDescription}}
        </div>


    </course-card>
    }

    @empty {
        <h1>No courses listed</h1>
    }

</div>


