<div class="top-menu">

    <img class="logo"
         src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png">

</div>


<div class="courses">

    <!-- A new way of implementing a foor loop -->
    @for (item of courses; 
        track item.id; 
        let index = $index;
        let counter = $count;
        let last = $last;
        let first = $first;
        let is_even = $even;
        let is_odd = $odd;
    ) {
        {{counter}}
        <course-card 
            [course]="item" 
            [index]="index" 
            [class.is-first]="first"
            [class.is-last]="last"
            [class.is-even]="is_even"
            [class.is-odd]="is_odd"
            (clickCourse)="handleClick($event)"
        ></course-card>
    }

    @empty {
        <h1>No courses listed</h1>
    }

</div>


