<div class="top-menu">

    <img class="logo"
         src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png">
</div>


<div class="courses">
    <p>    {{date | date: "dd-MMM-yy"}}    </p>
    <p>    {{date | date: "dd-MM-yyyy"}}    </p>
    <p>    {{date | date: "dd MMM yy"}}    </p>

    <p>{{title | lowercase}}</p>
    <p>{{title | uppercase}}</p>

    <p>{{price | number: "3.1-2"}}</p>
    <p>{{price | currency: "MXM"}}</p>
    <p>{{price | currency }}</p>

    {{courses | json}}
    <!-- A new way of implementing a foor loop -->
    @for (item of courses | slice:0:5; 
        track item.id; 
    ) {
        {{counter}}
        <course-card 
            [course]="item" 
            [index]="$index" 
            [class.is-first]="$first"
            [class.is-last]="$last"
            [class.is-even]="$even"
            [class.is-odd]="$odd"
            (clickCourse)="handleClick($event)"
        ></course-card>
    }

    @empty {
        <h1>No courses listed</h1>
    }

</div>


